temps de desinstallation : 2400
emplacement des listes : /etc/SeReC/SeReC_listes
emplacement du Log : /etc/SeReC/SeReC_log
emplacement de Serec : /usr/bin/SeReC

Liste des profils :
Administrateur : 0
Secretaire : 0
Gamer : 0
Mathematicien : 0
Ingenieur Audio-visuel : 0


--Ne pas supprimer cette ligne--
